<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!--/*@thymesVar id="book" type="com.AddressBook"*/-->
<p th:text="'AddressBook id: ' + ${book.bookId}"></p>
<div th:if="${not #lists.isEmpty(book.buddyList)}">
    <p>AddressBook Contents:</p>
    <p th:text="${book.buddyList.size()}"></p>
    <table>
        <tr th:each="buddy : ${book.buddyList}">
            <td th:text="${buddy.name}"></td>
            <td th:text="${buddy.phoneNumber}"></td>
        </tr>
    </table>
</div>
</body>
</html>